body{
	background-color: #f8f8f8;
}

h1{text-align:center;font-family:cursive;}
h2{font-family:cursive; font-weight:bolder;}
#author{margin-top:-15px; color:#777777}
#price-block{background-color:#2ecc71;color:white; text-align:center; font-weight:bolder}
.book-library{
	background-color: #ffffff;
	padding:10px;
}
.book{
	margin-top:20px;
}
